# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Foundry
incentivefactory/out/
incentivefactory/cache/
incentivefactory/broadcast/

# Optional
.env
.env.local
